<div class="header-favorite-product">
    <button mat-raised-button color="accent" (click)="clearEvent()">
        <span>Clear All</span>
        <mat-icon  class="mat-icon-md icon" title="clear favorites"
        >delete</mat-icon>
    </button>
</div>
